In [34]:
import pandas as pd

In [35]:
import numpy as np

In [10]:
1 == 2

False

In [4]:
df = pd.read_csv("student_lifestyle_dataset.csv")

In [5]:
df

,Student_ID,Study_Hours_Per_Day,Extracurricular_Hours_Per_Day,Sleep_Hours_Per_Day,Social_Hours_Per_Day,Physical_Activity_Hours_Per_Day,GPA,Stress_Level
0,1,6.9,3.8,8.7,2.8,1.8,2.99,Moderate
1,2,5.3,3.5,8.0,4.2,3.0,2.75,Low
2,3,5.1,3.9,9.2,1.2,4.6,2.67,Low
3,4,6.5,2.1,7.2,1.7,6.5,2.88,Moderate
4,5,8.1,0.6,6.5,2.2,6.6,3.51,High
...,...,...,...,...,...,...,...,...
1995,1996,6.5,0.2,7.4,2.1,7.8,3.32,Moderate
1996,1997,6.3,2.8,8.8,1.5,4.6,2.65,Moderate
1997,1998,6.2,0.0,6.2,0.8,10.8,3.14,Moderate
1998,1999,8.1,0.7,7.6,3.5,4.1,3.04,High
1999,2000,9.0,1.7,7.3,3.1,2.9,3.58,High

In [6]:
import sqlite3

In [7]:
!pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from ipython-sql) (8.29.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\vivian chow\appdata\roaming\python\python313\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)

In [8]:
ev = pd.read_csv("Electric_Vehicle_Population_Data.csv")

In [9]:
ev

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,1N4AZ0CP8D,King,Shoreline,WA,98177.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75.0,0.0,32.0,125450447,POINT (-122.36498 47.72238),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303302e+10
1,5YJSA1E45K,King,Seattle,WA,98112.0,2019,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,270.0,0.0,43.0,101662900,POINT (-122.30207 47.64085),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
2,WVGUNPE28M,Kitsap,Olalla,WA,98359.0,2021,VOLKSWAGEN,ID.4,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,26.0,272118717,POINT (-122.54729 47.42602),PUGET SOUND ENERGY INC,5.303509e+10
3,JTDKARFP6H,Thurston,Olympia,WA,98501.0,2017,TOYOTA,PRIUS PRIME,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,25.0,0.0,22.0,349372929,POINT (-122.89166 47.03956),PUGET SOUND ENERGY INC,5.306701e+10
4,1FADP5CU9G,Thurston,Olympia,WA,98506.0,2016,FORD,C-MAX,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,19.0,0.0,22.0,171625653,POINT (-122.87741 47.05997),PUGET SOUND ENERGY INC,5.306701e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216767,1G1RB6E44D,Douglas,East Wenatchee,WA,98802.0,2013,CHEVROLET,VOLT,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,38.0,0.0,12.0,122822822,POINT (-120.29473 47.41515),PUD NO 1 OF DOUGLAS COUNTY,5.301795e+10
216768,KNDCS3LF9R,Whatcom,Bellingham,WA,98229.0,2024,KIA,NIRO,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,33.0,0.0,40.0,267143887,POINT (-122.45486 48.7449),PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,5.307300e+10
216769,7SAYGAEE9R,King,Redmond,WA,98052.0,2024,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,48.0,274988388,POINT (-122.13158 47.67858),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
216770,1G1RB6E49D,Pierce,Gig Harbor,WA,98329.0,2013,CHEVROLET,VOLT,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,38.0,0.0,26.0,117353064,POINT (-122.6658 47.38336),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305307e+10
216771,5YJ3E1EA1P,Pierce,Bonney Lake,WA,98391.0,2023,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,31.0,240754006,POINT (-122.17144 47.19175),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.305307e+10

In [37]:
evny = pd.read_csv("NYC_EV_Fleet_Station_Network.csv")

In [38]:
evny

,AGENCY,STATION NAME,TYPE OF CHARGER,NO. OF PLUGS,ADDRESS,CITY,POSTCODE,BOROUGH,PUBLIC CHARGER?,FEE FOR CITY DRIVERS,LATITUDE,LONGITUDE,COMMUNITY DISTRICT,COUNCIL DISTRICT,CENSUS TRACT 2020,BIN,BBL,NEIGHBORHOOD TABULATION AREA (NTA) (2020)
0,ACS,NYC FLEET / ACS_LINDEN_1_L3,Level 3 Fast Charger,1,2554 Linden Blvd,East New York,11208.0,Brooklyn,NaN,NaN,40.668034,-73.869949,305.0,42.0,1220.0,3098733.0,3.044840e+09,BK0505
1,ACS,NYC FLEET / ACS_LINDEN_2_L3,Level 3 Fast Charger,1,2554 Linden Blvd,East New York,11208.0,Brooklyn,NaN,NaN,40.668034,-73.869949,305.0,42.0,1220.0,3098733.0,3.044840e+09,BK0505
2,ACS,NYC FLEET / ACS_LINDEN-1,Level 2 Charger,1,2554 Linden Blvd,Brooklyn,11208.0,Brooklyn,NaN,NaN,40.668034,-73.869949,305.0,42.0,1220.0,3098733.0,3.044840e+09,BK0505
3,ACS,NYC FLEET / ACSSTMARKSPL1,Level 2 Charger,1,350 St Marks Pl,Staten Island,10301.0,Staten Island,NaN,NaN,40.640708,-74.077697,501.0,49.0,3.0,5000185.0,5.000160e+09,SI0101
4,CITYHALL,NYC FLEET / CITYHALL EAST,Level 2 Charger,2,New York City Hall,New York,10007.0,Manhattan,NaN,NaN,40.712806,-74.006096,101.0,1.0,31.0,1079147.0,1.001220e+09,MN0102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1405,DOT,DOT LOT QUEENS BOROUGH HALL L2,DOT Municipal Level 2 Charger,31,80-25 126th Street,Queens,11415.0,Queens,Yes,$0.27 per kWh,40.714856,-73.827050,409.0,29.0,21601.0,4620879.0,4.096570e+09,QN0901
1406,DOT,DOT LOT QUEENS BOROUGH HALL L3,DOT Municipal Level 3 Charger,3,80-25 126th Street,Queens,11415.0,Queens,Yes,$0.39 per kWh,40.714856,-73.827050,409.0,29.0,21601.0,4620879.0,4.096570e+09,QN0901
1407,DOT,DOT LOT QUEENS FAMILY COURT,DOT Municipal Level 2 Charger,3,150-07 Archer Avenue,Queens,11432.0,Queens,Yes,$0.27 per kWh,40.701386,-73.803740,412.0,27.0,240.0,4215602.0,4.100920e+09,QN1201
1408,DOT,DOT LOT QUEENSBORO HALL FIELD,DOT Municipal Level 2 Charger,3,80-25 126th Street,Queens,11415.0,Queens,Yes,$0.27 per kWh,40.714856,-73.827050,409.0,29.0,21601.0,4620879.0,4.096570e+09,QN0901
1409,DOT,DOT LOT ST GEORGE,DOT Municipal Level 2 Charger,5,54 Central Avenue,Staten Island,10301.0,Staten Island,Yes,$0.27 per kWh,40.640566,-74.076713,501.0,49.0,3.0,5151736.0,5.000060e+09,SI0101

In [59]:
print(evny.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1410 entries, 0 to 1409
Data columns (total 18 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   AGENCY                                     1410 non-null   object
 1   STATION NAME                               1410 non-null   object
 2   TYPE OF CHARGER                            1410 non-null   object
 3   NO. OF PLUGS                               1410 non-null   int64
 4   ADDRESS                                    1399 non-null   object
 5   CITY                                       1399 non-null   object
 6   POSTCODE                                   1399 non-null   float64
 7   BOROUGH                                    1399 non-null   object
 8   PUBLIC CHARGER?                            73 non-null     object
 9   FEE FOR CITY DRIVERS                       71 non-null     object
 10  LATITUDE                                   1123 non-null   float64
 11  LONGITUDE                                  1123 non-null   float64
 12  COMMUNITY DISTRICT                         1123 non-null   float64
 13  COUNCIL DISTRICT                           1123 non-null   float64
 14  CENSUS TRACT 2020                          1123 non-null   float64
 15  BIN                                        1045 non-null   float64
 16  BBL                                        1045 non-null   float64
 17  NEIGHBORHOOD TABULATION AREA (NTA) (2020)  1123 non-null   object
dtypes: float64(8), int64(1), object(9)
memory usage: 198.4+ KB
None

In [66]:
evny.dropna(subset=["POSTCODE"], inplace=True)

In [67]:
evny["POSTCODE"] = evny["POSTCODE"].astype(int)

In [68]:
print(evny.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1399 entries, 0 to 1409
Data columns (total 18 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   AGENCY                                     1399 non-null   object
 1   STATION NAME                               1399 non-null   object
 2   TYPE OF CHARGER                            1399 non-null   object
 3   NO. OF PLUGS                               1399 non-null   int64
 4   ADDRESS                                    1399 non-null   object
 5   CITY                                       1399 non-null   object
 6   POSTCODE                                   1399 non-null   int64
 7   BOROUGH                                    1399 non-null   object
 8   PUBLIC CHARGER?                            73 non-null     object
 9   FEE FOR CITY DRIVERS                       71 non-null     object
 10  LATITUDE                                   1123 non-null   float64
 11  LONGITUDE                                  1123 non-null   float64
 12  COMMUNITY DISTRICT                         1123 non-null   float64
 13  COUNCIL DISTRICT                           1123 non-null   float64
 14  CENSUS TRACT 2020                          1123 non-null   float64
 15  BIN                                        1045 non-null   float64
 16  BBL                                        1045 non-null   float64
 17  NEIGHBORHOOD TABULATION AREA (NTA) (2020)  1123 non-null   object
dtypes: float64(7), int64(2), object(9)
memory usage: 207.7+ KB
None

In [39]:
zipcode = pd.read_csv("uszips.csv")

In [40]:
zipcode

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,16834.0,100.9,72001,Adjuntas,"{""72001"": 98.74, ""72141"": 1.26}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37642.0,479.2,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,49075.0,551.7,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5590.0,48.7,72093,Maricao,"{""72093"": 82.27, ""72153"": 11.66, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,25542.0,265.7,72011,AÃ±asco,"{""72011"": 96.71, ""72099"": 2.82, ""72083"": 0.37,...",AÃ±asco|Moca|Las MarÃ­as|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33779,99923,55.98043,-130.03803,Hyder,AK,Alaska,True,NaN,25.0,0.6,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33780,99925,55.55398,-132.96276,Klawock,AK,Alaska,True,NaN,920.0,6.6,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33781,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1465.0,4.3,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Metlakatla
33782,99927,56.33305,-133.60044,Point Baker,AK,Alaska,True,NaN,14.0,1.2,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33783,99929,56.36089,-132.00635,Wrangell,AK,Alaska,True,NaN,2133.0,0.3,2275,Wrangell,"{""02275"": 100}",Wrangell,02275,False,False,America/Sitka

In [49]:
print(zipcode.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33784 entries, 0 to 33783
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   zip               33784 non-null  int64
 1   lat               33784 non-null  float64
 2   lng               33784 non-null  float64
 3   city              33784 non-null  object
 4   state_id          33784 non-null  object
 5   state_name        33784 non-null  object
 6   zcta              33784 non-null  bool
 7   parent_zcta       0 non-null      float64
 8   population        33767 non-null  float64
 9   density           33767 non-null  float64
 10  county_fips       33784 non-null  int64
 11  county_name       33784 non-null  object
 12  county_weights    33784 non-null  object
 13  county_names_all  33784 non-null  object
 14  county_fips_all   33784 non-null  object
 15  imprecise         33784 non-null  bool
 16  military          33784 non-null  bool
 17  timezone          33784 non-null  object
dtypes: bool(3), float64(5), int64(2), object(8)
memory usage: 4.0+ MB
None

In [57]:
zipcode_ny = zipcode.loc[(zipcode['zip'] >= 10001) & (zipcode['zip'] <= 11256)]

In [58]:
zipcode_ny

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
2582,10001,40.75064,-73.99728,New York,NY,New York,True,NaN,27004.0,16713.6,36061,New York,"{""36061"": 100}",New York,36061,False,False,America/New_York
2583,10002,40.71597,-73.98692,New York,NY,New York,True,NaN,76518.0,35928.5,36061,New York,"{""36061"": 100}",New York,36061,False,False,America/New_York
2584,10003,40.73184,-73.98915,New York,NY,New York,True,NaN,53877.0,36392.4,36061,New York,"{""36061"": 100}",New York,36061,False,False,America/New_York
2585,10004,40.69431,-74.01835,New York,NY,New York,True,NaN,4579.0,3880.7,36061,New York,"{""36061"": 100}",New York,36061,False,False,America/New_York
2586,10005,40.70614,-74.00862,New York,NY,New York,True,NaN,8801.0,46633.5,36061,New York,"{""36061"": 100}",New York,36061,False,False,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2884,11236,40.63951,-73.90098,Brooklyn,NY,New York,True,NaN,100082.0,10841.5,36047,Kings,"{""36047"": 100}",Kings,36047,False,False,America/New_York
2885,11237,40.70427,-73.92108,Brooklyn,NY,New York,True,NaN,47183.0,18283.2,36047,Kings,"{""36047"": 100}",Kings,36047,False,False,America/New_York
2886,11238,40.67105,-73.96636,Brooklyn,NY,New York,True,NaN,58047.0,12120.8,36047,Kings,"{""36047"": 100}",Kings,36047,False,False,America/New_York
2887,11239,40.64733,-73.87136,Brooklyn,NY,New York,True,NaN,16808.0,3778.7,36047,Kings,"{""36047"": 100}",Kings,36047,False,False,America/New_York
2888,11249,40.71121,-73.96318,Brooklyn,NY,New York,True,NaN,45087.0,24357.1,36047,Kings,"{""36047"": 100}",Kings,36047,False,False,America/New_York